body{
    margin: 0px;
}

.cards-area{
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cards-container{
    margin: 0.5rem;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.cards-container.flippedCard {
    transform: rotateY(180deg);   
}

.front-of-card{
    position:absolute;
    width: 4rem;
    height: 8rem;
    transform: rotateY(180deg);
}

.back-of-card{
    width: 4rem;
    height: 8rem;
    backface-visibility: hidden;
}

.timer{
    background-color: black;
    color: #fff;
    font-size: 50px;
    text-align: center;
}



