body{
    margin: 0px;
    font-size: 14px;
}

main{
    background-image: url("https://t3.ftcdn.net/jpg/01/59/07/92/360_F_159079250_3oo6EuNF6gPjNe3ABeDhMjzzEDlGVdjO.jpg");
    background-size: cover;
}

.cards-area{
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cards-container{
    margin: 0.5rem;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.cards-container.flippedCard {
    transform: rotateY(180deg);   
}

.front-of-card{
    position:absolute;
    width: 4rem;
    height: 8rem;
}

.back-of-card{
    transform: rotateZ(180deg);
}

.back-of-card{
    width: 4rem;
    height: 8rem;
    backface-visibility: hidden;
}

.timer{
    background-color:rgb(15, 121, 163) ;
    color: #fff;
    font-size: 3.5rem;
    text-align: center;
}

#popup #popup-child{
    width: 50rem;
    height: 35.7rem;
    position: fixed;
    top: calc(50% - 17.8rem);
    left: calc(50% - 24rem);
    text-align: center;
    z-index: 1;
    background-image: url("https://media.istockphoto.com/photos/royal-flush-and-poker-chips-picture-id1182872570?k=20&m=1182872570&s=612x612&w=0&h=d945CSQrpj2v1Wqy2XZVBL0TqalcNKaiK3FQXYb7vBs=");
    background-size: cover;
}

#popup::before{
    content: '';
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

#button{
    background-color: rgb(210, 30, 60);
    color: #fff;
    border-radius: 0.4rem;
    width: 12.8rem;
    height: 3.6rem;
    font-size: 2rem;
    position: fixed;
    right: 39%;
    top: 70%;
    cursor: pointer;
}

#popup{
    display: none;
}

#close{
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    background: none;
    border: none;
    font-size: 2rem;
    font-weight: 500;
    color: darkgray;
    cursor: pointer;
}

.user_data{
    font-weight: 600;
    color: rgb(98, 0, 255);
    font-size: 2.1rem;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    position: fixed;
    top: 20%;
    left: 40%;
    background-color: rgb(210, 30, 60);
    color: #000;
  }
  
  td, th {
    border: 2.5px solid #000;
    text-align: center;
    padding: 1rem;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.buttons {
      text-align: center;
  }
